<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet"/>
    <title>Fragment</title>
</head>
<body>
<div th:fragment="nav-bar">
    <nav id="menu">
        <ul class="links">
            <li><a href="/" th:text="#{home.button}">Home</a></li>
            <li><a href="#" th:href="@{/contests}">Contests</a></li>
            <li><a href="#" th:href="@{/images}">Gallery</a></li>
            <li><a href="#" th:href="@{/about}">About</a></li>

            <li class="userNull" th:if="${currentUser != null && currentUser.isAdmin()}">
                <a class="userNull" href="#" th:href="@{/admin}"
                   th:text="#{navigation.admin}">Admin</a>
            </li>

            <li class="userNull" th:if="${currentUser != null}">
                <a class="userNull" href="#" th:href="@{/users/{id}(id=${currentUser.id})}"
                   th:text="#{navigation.profile}">Profile</a>
            </li>

            <li class="userNull" th:if="${currentUser == null}">
                <a class="userNull" href="#" th:href="@{/register}" th:text="#{navigation.register}">Register</a>
            </li>

            <li class="userNull" th:if="${currentUser == null}">
                <a class="userNull" href="#" th:href="@{/login}" th:text="#{navigation.login}">Login</a>
            </li>

            <li class="userNull" th:if="${currentUser != null}">
                <a class="userNull" href="#" th:href="@{/logout}" th:text="#{navigation.logout}">Logout</a>
            </li>

        </ul>
    </nav>
</div>

<div th:fragment="contest-type">
    <div class="box">
        <div class="image fit">
            <img src="#" th:src="${contest.coverPhoto.imageUrl}" alt="" width="600"
                 height="400"/></div>
        <div class="content">
            <header class="align-center">
                <p th:text="${contest.phase.name}">Contest Phase></p>

                <div th:if="${contest.phase.name.equals('Phase 1')}">
                    <h3 th:text="${'Time to phase 2:'}">Time to phase</h3>
                    <p id="timer" th:id="'timer-' + ${iterStat.index}"
                       th:text="${contest.phase2FromHour}">Deadline Date</p>
                </div>
                <div th:if="${contest.phase.name.equals('Phase 2')}">
                    <h3 th:text="${'Time until the end:'}">Time to phase</h3>
                    <p id="timer2" th:id="'timer2-' + ${iterStat.index}"
                       th:text="${contest.phase2ToHour}">Deadline Date</p>
                </div>

                <h2><a th:text="${contest.title}" th:href="@{/contests/{id}(id=${contest.id})}">Contest
                    Name</a></h2>
            </header>
            <p> Join millions of creatives in daily challenges and photo contests. Get started
                for
                free and upload your first photo now.</p>

        </div>
    </div>
    <script th:inline="javascript">
        var x = setInterval(function () {
            var countDownDate = new Date([[${contest.phase2FromHour}]]).getTime();
            var index = [[${iterStat.index}]];

            var now = new Date().getTime();

            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById('timer-' + index).innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";
            if (distance < 0) {
                clearInterval(x);
                document.getElementById('timer-' + index).innerHTML = "Loading..";
            }
        }, 1000);
    </script>

    <script th:inline="javascript">
        var x = setInterval(function () {
            var countDownDate = new Date([[${contest.phase2ToHour}]]).getTime();
            var index = [[${iterStat.index}]];

            var now = new Date().getTime();

            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById('timer2-' + index).innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";
        }, 1000);
    </script>

</div>

<div th:fragment="image-type">
    <div class="box">
        <div class="image fit">
            <img src="#" th:src="${image.imageUrl}" alt="" width="600" height="400"/>
        </div>
        <div class="content">
            <header class="align-center">
                <p th:text="${image.title}">Title</p>
            </header>
        </div>
    </div>
</div>

</body>

<script src="../static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
<script src="../static/js/jquery.scrollex.min.js" th:src="@{/static/js/jquery.scrollex.min.js}"></script>
<script src="../static/js/skel.min.js" th:src="@{/static/js/skel.min.js}"></script>
<script src="../static/js/util.js" th:src="@{/static/js/util.js}"></script>
<script src="../static/js/main.js" th:src="@{/static/js/main.js}"></script>
</html>