<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<section>
    <img class="wave">
    <div class="container">
        <div class="img">
        </div>
        <div class="login-content">
            <form th:action="@{/login}" method="post" th:object="${loginDto}">
                <img src="img/avatar.svg">
                <h2 class="title" th:text="#{login.welcome}">Welcome to Photo Contest</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div" id="border">
                        <h5 th:text="#{login.username}">Username</h5>
                        <input type="text" class="input" required autofocus th:field="*{username}">
                        <p th:errors="*{username}">Wrong username/password</p>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div" id="border2">
                        <h5 th:text="#{login.password}" th:field="*{password}">Password</h5>
                        <input type="password" class="input" required autofocus th:field="*{password}">
                    </div>
                </div>

                <a href="#"
                   data-toggle="modal" data-target="#forgottenPassword">Forgot your password?</a>

                <input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
</section>

<div class="modal fade" id="forgottenPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Filter visits</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--            Todo Да се допълни медота за ресетване на парола (погледни първо в контролера за логване)-->

            <!--                        <div class="modal-body">-->
            <!--                            <form id="forgotten-password-form" th:action="@{/users/forgot}" th:object="${forgottenPassword}"-->
            <!--                                  method="post">-->
            <!--                                <div class="input-group mb-3">-->
            <!--                                    <div class="input-group-prepend">-->
            <!--                                        <span class="input-group-text">Email</span>-->
            <!--                                    </div>-->
            <!--                                    <input type="text" class="form-control" required aria-label="Default" th:field="*{email}"-->
            <!--                                           aria-describedby="inputGroup-sizing-default">-->
            <!--                                </div>-->
            <!--                            </form>-->
            <!--                        </div>-->
            <!--            <div class="modal-footer">-->
            <!--                                <button form="forgotten-password-form" type="reset" class="btn btn-danger">Reset</button>-->
            <!--                                <button form="forgotten-password-form" type="submit" class="btn btn-success">Send email</button>-->
            <!--            </div>-->
        </div>
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="js/login.js"></script>

<!-- Scripts -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/jquery.scrollex.min.js" th:src="@{/js/jquery.scrollex.min.js}"></script>
<script src="../static/js/skel.min.js" th:src="@{/js/skel.min.js}"></script>
<script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

</body>
</html>