<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User page</title>
    <link rel="stylesheet" th:href="@{/css/mdb/mdb.min.css}" href="../static/css/mdb/mdb.min.css">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/properties index.css}" href="../static/css/properties index.css" rel="stylesheet"/>
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" href="../static/css/heading.css" rel="stylesheet">
    <link th:href="@{/css/body.css}" href="../static/css/body.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link th:href="@{/css/user-profile-page.css}" href="../static/css/user-profile-page.css" rel="stylesheet">


</head>
<body style="padding-right: 0!important; background-image: url(../img/a6.jpg); background-repeat: no-repeat;">

<div class="container card emp-profile" style="background-image: url(../img/a4.jpg);
 background-repeat: no-repeat; background-size: 100%">
    <!--    <form method="post">-->
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img th:src="${userView.getPicture()}"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                     alt="" class="profile-pic " id="picture-header"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5 th:text="${userView.firstName+' '+userView.lastName}">
                    Kshiti Ghelani
                </h5>
                </h6>
                <ul class="nav nav-tabs " id="myTab" role="tablist">
                    <li class="nav-item border">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home"
                           aria-selected="true">About</a>
                    </li>
                    <li th:if="${!currentUser.isAdmin()}" class="nav-item border">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile"
                           aria-selected="false">Active Contests</a>
                    </li>
                    <li th:if="${!currentUser.isAdmin()}" class="nav-item border">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab"
                           aria-controls="profile"
                           aria-selected="false">Finished Contests</a>
                    </li>
                    <li th:if="${!currentUser.isAdmin()}" class="nav-item border">
                        <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#profile3" role="tab"
                           aria-controls="profile"
                           aria-selected="false">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
        <div th:if="${isPersonal}" class="col-md-2">
            <input class="profile-edit-btn mb-3" type="button"
                   data-toggle="modal"
                   data-target="#update-personal-modal" data-row="${currentUser}" name="btnAddMore"
                   value="Edit Profile"/>
            <a class="nav-link px-4 active text-center" href="#"
               th:href="@{/}"><i
                    class="fa fa-fw fa-home mr-1"></i><span>Home</span></a>
            <br/>
            <div class="text-center" th:if="${!userView.isAdmin()}">
                <i class="fa fa-lightbulb fa-2x"></i>
                <label class="modal-title align-center">Points</label>
                <h2 class="modal-title align-center"
                    style="font-weight: bold; color:black;"
                    th:text="${userView.getScores()}">127</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <br/>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Username</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${userView.username}">ghelani</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${userView.firstName+' '+userView.lastName}">Kshiti Ghelani</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${userView.email}">kshitighelani@gmail.com</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Rank</label>
                        </div>
                        <div class="col-md-6">
                            <h6>
                                <p class="userNull" th:if="${userView.isJunkie()}"
                                   th:text="Junkie"></p>
                                <p class="userNull" th:if="${userView.isEnthusiast()}"
                                   th:text="Enthusiast"></p>
                                <p class="userNull" th:if="${userView.isMaster()}"
                                   th:text="Master"></p>
                                <p class="userNull" th:if="${userView.isPhotoDictator()}"
                                   th:text="Photo+' '+Dictator"></p>
                                <p class="userNull" th:if="${userView.isAdmin()}"
                                   th:text="Admin"></p>
                            </h6>
                        </div>
                    </div>
                </div>

                <!-- Active Contest Modal -->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div th:if="${ not#lists.isEmpty(activeContest)}">
                        <div class="e-table">
                            <div class="table-responsive table-lg mt-3 beer-results"
                                 th:fragment="beer-results">
                                <table class="table table-bordered" id="myTable2">
                                    <thead>
                                    <tr class="header">
                                        <th class="max-width">Title</th>
                                        <th>Phase</th>
                                        <th>Start date</th>
                                        <th>Finish date</th>
                                        <th>Category</th>
                                        <th>Type</th>
                                        <th>Function</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="contest : ${activeContest}">

                                        <td th:text="${contest.getTitle()}"
                                            class="text-nowrap align-middle">
                                            Title
                                        </td>

                                        <td th:text="${contest.getPhase().getName()}"
                                            class="text-nowrap align-middle">
                                            Phase
                                        </td>

                                        <td th:text="${contest.getStartDate()}"
                                            class="text-nowrap align-middle">
                                            Start Date
                                        </td>

                                        <td th:text="${contest.getPhase2ToHour()}"
                                            class="text-nowrap align-middle">
                                            Finish Date
                                        </td>

                                        <td th:text="${contest.getCategory().getName()}"
                                            class="text-nowrap align-middle">
                                            Category
                                        </td>

                                        <td th:text="${contest.getType().getName()}"
                                            class="text-nowrap align-middle">
                                            Type
                                        </td>

                                        <td class="text-center align-middle">
                                            <div class="btn-group align-top">
                                                <a class="btn btn-sm btn-outline-warning"
                                                   type="button"
                                                   th:href="@{/contests/{id}(id=${contest.getId()})}">
                                                    View
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="text-danger centered">
                        <div th:unless="${ not#lists.isEmpty(activeContest)}">
                            <h2>NO ACTIVE CONTESTS!</h2>
                        </div>
                    </div>
                </div>

                <!-- Finished Contest Modal -->
                <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                    <div th:if="${ not#lists.isEmpty(finishedContests)}">
                        <div class="e-table">
                            <div class="table-responsive table-lg mt-3 beer-results"
                                 th:fragment="beer-results">
                                <table class="table table-bordered" id="myTable">
                                    <thead>
                                    <tr class="header">
                                        <th class="max-width">Title</th>
                                        <th>Phase</th>
                                        <th>Start date</th>
                                        <th>Finish date</th>
                                        <th>Category</th>
                                        <th>Type</th>
                                        <th>Function</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="contest : ${finishedContests}">

                                        <td th:text="${contest.getTitle()}"
                                            class="text-nowrap align-middle">
                                            Title
                                        </td>

                                        <td th:text="${contest.getPhase().getName()}"
                                            class="text-nowrap align-middle">
                                            Phase
                                        </td>

                                        <td th:text="${contest.getStartDate()}"
                                            class="text-nowrap align-middle">
                                            Start Date
                                        </td>

                                        <td th:text="${contest.getPhase2ToHour()}"
                                            class="text-nowrap align-middle">
                                            Finish Date
                                        </td>

                                        <td th:text="${contest.getCategory().getName()}"
                                            class="text-nowrap align-middle">
                                            Category
                                        </td>

                                        <td th:text="${contest.getType().getName()}"
                                            class="text-nowrap align-middle">
                                            Type
                                        </td>

                                        <td class="text-center align-middle">
                                            <div class="btn-group align-top">
                                                <a class="btn btn-sm btn-outline-warning"
                                                   type="button"
                                                   th:href="@{/contests/{id}(id=${contest.getId()})}">
                                                    View
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="text-danger centered">
                        <div th:unless="${ not#lists.isEmpty(finishedContests)}">
                            <h2>NO FINISHED CONTESTS!</h2>
                        </div>
                    </div>
                </div>

                <!-- Gallery User Modal -->
                <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab3">
                    <div th:if="${ not#lists.isEmpty(uploadPictures)}">

                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" th:src="@{/img/the-gallery-logo.jpg}"
                                         alt="Start Slideshow">
                                </div>

                                <div class="carousel-item" th:each="picture : ${uploadPictures}">
                                    <img class="d-block w-100" th:src="${picture.imageUrl}"
                                         alt="@{${picture.title}}">
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <div class="text-danger centered">
                            <div th:unless="${ not#lists.isEmpty(uploadPictures)}">
                                <h2>NO UPLOAD PHOTOS!</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- User Edit Modal -->
                <div th:if="${isPersonal}" class="modal" role="dialog" id="update-personal-modal">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="background-image: url(../img/a4.jpg);">
                            <div class="modal-header">
                                <h5 class="modal-title">Update User</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <ul class="nav nav-tabs" id="myUpdateTam" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="user-changes-tab" data-toggle="tab"
                                       href="#user-changes"
                                       role="tab"
                                       aria-controls="user-changes"
                                       aria-selected="true">User Changes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="password-tab" data-toggle="tab" href="#password-changes"
                                       role="tab"
                                       aria-controls="password-changes"
                                       aria-selected="false">Password Change</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="delete-tab" data-toggle="tab" href="#user-delete"
                                       role="tab"
                                       aria-controls="user-delete"
                                       aria-selected="false">Delete profile</a>
                                </li>
                            </ul>
                            <!--PROFILE UPDATE TAB-->
                            <div class="tab-content">
                                <div class="tab-pane show active" id="user-changes" role="tab"
                                     aria-labelledby="user-changes-tab">
                                    <form th:action="@{'/users/{id}/update'(id=${userView.id})}"
                                          th:object="${updateUserDto}" class="well form-horizontal" action=" "
                                          method="post" enctype="multipart/form-data"
                                          id="contact_form">
                                        <div class="modal-body">
                                            <div class="py-1">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <input hidden="hidden" name="id"
                                                                   th:value="${userView.getId()}">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>First Name</label>
                                                                    <input class="form-control" type="text"
                                                                           name="firstName"
                                                                           th:value="${userView.getFirstName()}">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Last Name</label>
                                                                    <input class="form-control" type="text"
                                                                           name="lastName"
                                                                           th:value="${userView.getLastName()}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Username</label>
                                                                    <input class="form-control" type="text"
                                                                           name="username"
                                                                           th:value="${userView.username}">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Email</label>
                                                                    <input class="form-control" type="text"
                                                                           name="email"
                                                                           th:value="${userView.email}">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Picture URL</label>
                                                                    <div class="pic image-input-fields">
                                                                        <input class="form-control pictureUrl"
                                                                               type="text"
                                                                               name="picture"
                                                                               th:value="${userView.picture}">

                                                                        <label type="file"
                                                                               class="form-control m-0 btn overflow-dots"
                                                                               for="fileImage">Or
                                                                            upload file</label>

                                                                        <input hidden="hidden" type="file"
                                                                               name="fileImage"
                                                                               id="fileImage"
                                                                               accept="image/png, image/jpeg, image/jpg">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        <button th:field="*{password}" name="password"
                                                                class="btn btn-primary button-needing-validation"
                                                                type="submit">Save Changes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--PASSWORD UPDATE TAB-->
                                <div class="tab-pane  " id="password-changes" role="tab"
                                     aria-labelledby="password-tab">
                                    <form th:action="@{'/users/{id}/update/password'(id=${userView.id})}"
                                          th:object="${updatePasswordDto}" class="well form-horizontal" action=" "
                                          method="post"
                                          id="update_form">
                                        <div class="modal-body">
                                            <input hidden="hidden" name="id" th:value="${userView.getId()}">
                                            <br>
                                            <div class="row">
                                                <div class="col-12 col-sm-6 mb-3">
                                                    <div class="mb-2"><b>Change Password</b></div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>New Password</label>
                                                                <input th:field="*{newPassword}" required
                                                                       class="form-control"
                                                                       type="password"
                                                                       placeholder="••••••">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Confirm <span
                                                                        class="d-none d-xl-inline">Password</span></label>
                                                                <input th:field="*{confirmPassword}" required
                                                                       class="form-control"
                                                                       type="password"
                                                                       placeholder="••••••">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <button th:field="*{oldPassword}" name="password"
                                                        class="btn btn-primary button-needing-validation"
                                                        type="submit">Save Changes
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--DELETE PROFILE TAB-->
                                <div class="tab-pane  " id="user-delete" role="tab" aria-hidden="true">
                                    <form th:action="@{'/users/{id}/profile/delete'(id=${userView.id})}"
                                          th:object="${deleteUserDto}" class="well form-horizontal" action=""
                                          method="post"
                                          id="delete_form">
                                        <div class="modal-body">
                                            <input hidden="hidden" name="id" th:value="${userView.getId()}">
                                            <br>
                                            <div class="col d-flex justify-content-center">
                                                <button th:field="*{password}" name="password"
                                                        class="btn btn-danger button-needing-validation"
                                                        type="submit">Delete Profile
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>

<script th:src="@{/js/indexPageSearch.js}" th:inline="javascript"
        src="../static/js/indexPageSearch.js"></script>
<script th:src="@{/js/index.js}" th:inline="javascript" src="../static/js/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}" src="../static/js/jquery-3.3.1.min.js"></script>

</body>

</html>